redis:
  image: 'redis:3.2.7'
  restart: always

webserver:
  image: 'opentrials/opentrials-airflow:latest'
  restart: always
  environment:
    - AIRFLOW_HOME=/usr/local/airflow
    - AIRFLOW_ENABLE_AUTH=true
    - EXECUTOR=Celery
    - FERNET_KEY
    - DB_URI
    - DB_USER
    - DB_PASSWORD
    - DB_TABLE
    - SMTP_HOST
    - SMTP_USER
    - SMTP_PASSWORD
  ports:
    - '80:8080'
  links:
    - redis
  command: webserver

flower:
  image: 'opentrials/opentrials-airflow:latest'
  restart: always
  environment:
    - AIRFLOW_HOME=/usr/local/airflow
    - AIRFLOW_ENABLE_AUTH=true
    - EXECUTOR=Celery
    - FERNET_KEY
    - DB_URI
    - DB_USER
    - DB_PASSWORD
    - DB_TABLE
    - SMTP_HOST
    - SMTP_USER
    - SMTP_PASSWORD
  links:
    - redis
  ports:
    - '5555:5555'
  command: flower

scheduler:
  image: 'opentrials/opentrials-airflow:latest'
  restart: always
  environment:
    - AIRFLOW_HOME=/usr/local/airflow
    - AIRFLOW_ENABLE_AUTH=true
    - EXECUTOR=Celery
    - FERNET_KEY
    - DB_URI
    - DB_USER
    - DB_PASSWORD
    - DB_TABLE
    - SMTP_HOST
    - SMTP_USER
    - SMTP_PASSWORD
  links:
    - redis
  command: scheduler

worker:
  image: 'opentrials/opentrials-airflow:latest'
  restart: always
  ports:
    - '8793:8793'
  volumes:
    - '/var/run/docker.sock:/var/run/docker.sock'
  environment:
    - AIRFLOW_HOME=/usr/local/airflow
    - AIRFLOW_ENABLE_AUTH=true
    - EXECUTOR=Celery
    - FERNET_KEY
    - DB_URI
    - DB_USER
    - DB_PASSWORD
    - DB_TABLE
    - SMTP_HOST
    - SMTP_USER
    - SMTP_PASSWORD
  links:
    - redis
  command: worker
